<div class="container section">
    <div class="row">
        <div class="col-sm-9">
            <!--
            <div class="mt-3 bg-inverse text-white p-2 mb-3 profile-title">About</div>
            <div id="about">
                Soon
            </div>
            -->

            <div class="mt-3 bg-inverse text-white p-2 mb-3 profile-title">Frequently Asked Questions</div>
            <div id="faqQuestion">
                <div class="question"><strong>How do I start my own Tournament</strong></div>
                <div class="answer">
                    If you want to start your own Tournament, you can contact Cameron on Discord for more information. Keep in mind that you will be in charge of your own tournament and will not receive  
                    any support from House of Typing other than the platform being offered.
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="mt-3 bg-inverse text-white p-2 mb-3 profile-title">Advertisement</div>
            <div class="mx-auto d-block text-center py-3">
                <!-- HoT - Sidebar -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-3822393833826597"
                    data-ad-slot="3467467117"
                    data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>